@tailwind base;
@tailwind components;
@tailwind utilities;

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .shimmer-post {
    width: 20rem;
    height: 10rem;
    margin: 1rem;
    background: linear-gradient(-90deg, #f0f0f0 0%, #e0e0e0 50%, #f0f0f0 100%);
    background-size: 400% 400%;
    animation: shimmer 1.5s infinite;
  }
  
  @keyframes shimmer {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 0%;
    }
  }
  